<a href="https://colab.research.google.com/github/zlibutmatthew/Stock-Prediction-SVM/blob/master/SVM_Stock_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import pandas_datareader as web
import matplotlib.pyplot as plt
from sklearn import svm

#Get the stock info and store into a dataframe
df = web.DataReader('AAPL', data_source='yahoo', start='2008-01-01', end='2019-12-31')
df

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

                 High        Low       Open      Close        Volume  Adj Close
Date
2008-01-02   7.152143   6.876786   7.116786   6.958571  1.079179e+09   6.013175
2008-01-03   7.049643   6.881786   6.978929   6.961786  8.420664e+08   6.015953
2008-01-04   6.892857   6.388928   6.837500   6.430357  1.455832e+09   5.556723
2008-01-07   6.557143   6.079643   6.473214   6.344285  2.072193e+09   5.482346
2008-01-08   6.516428   6.100000   6.433571   6.116071  1.523816e+09   5.285137
...               ...        ...        ...        ...           ...        ...
2019-12-24  71.222504  70.730003  71.172501  71.067497  4.847880e+07  70.580566
2019-12-26  72.495003  71.175003  71.205002  72.477501  9.312120e+07  71.980911
2019-12-27  73.492500  72.029999  72.779999  72.449997  1.462660e+08  71.953598
2019-12-30  73.172501  71.305000  72.364998  72.879997  1.441144e+08  72.380653
2019-12-31  73.419998  72.379997  72.482498  73.412498  1.008056e+08  72.909500

[3021 rows x 6 columns]